{% extends 'layout.html' %}

{% block content %}
     <div class="jumbotron">
      <h1>Hoşgeldiniz</h1>
      <p class="lead">Seç Bakalaım'a Hoşgeldiniz. Bu site sadece eğlence amaçlı yapılmıştır</p>
      <hr class="mr-3">
      <p class="text-muted">Siz de bu eğlenceye ortak olmak isterseniz tek yapmanız gereken aşşağıdaki butona veya üst şeritteki fotoğraf gönder seçeneğine basarak fotoğrafınızı göndermeniz</p>
      <button type="button" class="btn btn-danger">İyi Eğlenceler!</button>
    </div>
{% endblock %}